<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="'File is, ' + ${name} + '.txt!'" />

        <div th:switch="${goods}">
            <h2 th:case="null">No goods yet!</h2>
            <div th:case="*">
                <h2>Users</h2>
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${goods}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.name}"></td>
                            <td th:text="${user.price}"></td>
                            <td th:text="${user.amount}"></td>
                            <td><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></td>
                            <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>      


            <p th:text="'COUNT= '+${size}"/>
            <p>The end!</p>
            <a href="/">Return</a>
        </div>
    </body>
</html>